#n1 {
    // border-bottom: 1px solid black;
    width: 100%;
    background-color: white;
  }

  .border-btm{
    margin-top: -15px;
  }
  #n2 {
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white;
    /* height: 90px; */
  }
  #n3 {
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white;
  }
  .navbar-brand {
    color: green;
    font-weight: bold;
  }
  
  .nav-link {
    color: black;
  }
  
  .nav-link:hover {
    color: green;
  }
  
  .fas {
    color: green;
    margin-right: 5px;
  }
  table {
    border: 1px solid black;
  }
  .items {
    text-decoration: none;
    color: black;
  }

  .items:hover{
    color: #3BB77E;
    font-weight: 700;
  }

  .i1 {
    text-align: center;
    width: 86px;
    font-size: 14px;
  }
  #i1 {
    text-align: center;
    font-size: 14px;
  }
  #slideri1 {
    width: 100%;
    border-radius: 20px;
  }
  #navbarDropdownMenuLink {
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
  }
  .carousel-caption {
    color: black;
    text-align: left;
  }
  .email {
    width: 400px;
    position: relative;
    // top: 50px;
    // left: 80px;
    border-radius: 50px;
    background-color: white;
    border: none;
  }
  .sendemail {
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: white;
  }
  .emailinput {
    text-align: center;
    // border-radius: 50px;
    width: 50px;
    border: none;
  }
  .btnsubs {
    background-color: rgb(63, 158, 126);
    color: white;
    border-radius: 50px;
  }
  .badge {
    position: absolute;
    border-radius: 50%;
    margin-left: -15px;
    margin-top: -9px;
    padding: 4px;
  }
  .featured-categories {
    h2 {
      // border-bottom: 2px solid rgba(0, 0, 0, 0.32);
      margin-left: 25px;

    }
    a {
      text-decoration: none;
      color: black;
      font-size: 17px;
      margin-left: 25px;
    }
    a:hover {
      background-color: #faf5f5;
      color: rgb(93, 223, 93);
    }
  
    .categories {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
  
      .category-card {
        width: 120px;
        margin-top: 10px;
        margin-right: auto;
        text-align: center;
        background-color: #ECFFEC;
        // border: 1px solid black;
        border-radius: 5px;
  
        img {
          height: 110px;
          width: 110px;
          // border: 0.5px solid rgb(168, 161, 161);
          border-radius: 5px;
          margin-bottom: 10px;
        }
  
        img:hover {
          height: 120px;
          width: 120px;
        }
  
        p {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        p:hover {
          color: #3BB77E
        }
  
        span {
          font-size: 1rem;
          color: #897c7c;
        }
      }
    }
  }